
        /* ========== GLOBAL STYLES ========== */
        body {
            background-color: #ffffff;
            color: #000000;
            margin: 0;
            padding: 0;
        }
        .container{
        	background-color: #ffffff;
        }
        /* ========== NAVBAR ========== */
        .navbar-brand {
            font-weight: 700;
            font-size: 1.5rem;
        }
        .bg-blue-purple {
    		background-color: #1a1a3b !important;
		}
        /* ========== FEATURED PRODUCTS ========== */
        .card {
            border: none;
        }
        .card-title {
            font-weight: bold;
        }
        .card-text {
            font-size: 0.9rem;
        }
        /* ========== FOOTER ========== */
        footer {
            background-color: #040418;
            padding: 2rem 0;
            text-align: center;
        }
        footer p {
   			color: #ffffff;
		}
        .footer-links a {
            color: #fff;
            margin: 0 0.5rem;
        }
        .footer-links a:hover {
            color: #ff4c4c;
        }